In [2]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("TestApp") \
    .getOrCreate()

print(spark.version)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/15 00:24:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

3.5.1

In [3]:

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

In [4]:
df = spark.read.format('csv').option('header', 'true').load('original.csv')

In [5]:
df.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.6489954|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416| 118.930111|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [6]:
df2 = spark.read.csv('original.csv', header=True)

In [7]:
df2.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude|  Longitude|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18|50.5774075| 16.4967184|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|48.8231572|103.5218199|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52|39.9947462|116.3397725|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23|44.5047212| 38.1300171|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.6489954|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16|53.4266145| -6.1644997|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416| 118.930111|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36|45.1905186|  0.7423124|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027934| 106.657113|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793| -74.416014|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85|-79.8833329|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70| 39.172378| 116.931607|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|49.8151822| 19.3771749|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|42.1014803|-72.5766759|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|49.7923299| 13.4915324|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73|43.4945737|  5.8978018|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48|52.7441662| 17.3278637|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696249| -8.7098337|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232567|113.4686802|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33|40.7172049| -8.3625148|
+---+----------+----------+------+---------------+--------------------+---------+----------+-----------+
only showing top 20 rows

In [8]:
df2.dtypes

[('id', 'string'),
 ('first_name', 'string'),
 ('last_name', 'string'),
 ('gender', 'string'),
 ('City', 'string'),
 ('JobTitle', 'string'),
 ('Salary', 'string'),
 ('Latitude', 'string'),
 ('Longitude', 'string')]

In [9]:
from pyspark.sql.types import *

In [10]:
data_scheme = StructType(
    [
        StructField('id', IntegerType()),
        StructField('first_name', StringType()),
        StructField('last_name', StringType()),
        StructField('gender', StringType()),
        StructField('City', StringType()),
        StructField('JobTitle', StringType()),
        StructField('Salary', StringType()),
        StructField('Latitude', FloatType()),
        StructField('Longitude', FloatType()),
    ]
)

In [11]:
df2 = spark.read.csv('original.csv', header = True, schema=data_scheme)

INSPECTING DATAFRAME

In [12]:
df2.tail(5)

[Row(id=996, first_name='Kathye', last_name='Grasser', gender='Female', City='Dzaoudzi', JobTitle='Accountant IV', Salary='$65520.45', Latitude=-12.782212257385254, Longitude=45.258209228515625),
 Row(id=997, first_name='Haskell', last_name='Kempston', gender='Male', City='Ban Talat Nua', JobTitle='Biostatistician I', Salary='$37021.92', Latitude=7.912274360656738, Longitude=98.3459701538086),
 Row(id=998, first_name='Holly-anne', last_name='Gerbl', gender='Female', City='Guanaja', JobTitle='Speech Pathologist', Salary='$16200.10', Latitude=16.482662200927734, Longitude=-85.87932586669922),
 Row(id=999, first_name='Marysa', last_name='Purdie', gender='Female', City='Sioah', JobTitle='Desktop Support Technician', Salary='$95912.44', Latitude=5.586496353149414, Longitude=95.35140228271484),
 Row(id=1000, first_name='Jewell', last_name='Haselden', gender='Female', City='Springfield', JobTitle='Business Systems Development Analyst', Salary='$30556.12', Latitude=39.79999923706055, Longitude=-89.6500015258789)]

In [13]:
df2.describe().show()

24/05/15 00:24:34 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+
|summary|               id|first_name|last_name|gender|               City|           JobTitle|   Salary|          Latitude|        Longitude|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+
|  count|             1000|      1000|     1000|  1000|                999|                998|     1000|               999|             1000|
|   mean|            500.5|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL| 25.43151724702484|43.33756460386515|
| stddev|288.8194360957494|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL|24.579082550156635| 69.4206453674681|
|    min|                1|   Abagail|    Abbay|Female|             Abéché|Account Coordinator|$10101.92|         -54.28115|       -123.04196|
|    max|             1000|    Zulema| de Marco|  Male|‘Aşīrah al Qiblīyah|   Web Developer IV|$99948.28|          69.63186|        175.28227|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+------------------+-----------------+

HANDLING THE NULLs

In [14]:
df_no_null = df2.na.drop()

In [15]:
df_null_jobs = df2.filter(df2.JobTitle.isNotNull())

In [16]:
from pyspark.sql.functions import *

In [17]:
df_null_jobtitle = df2.withColumn('Job_title_clean', when(df2.JobTitle.isNull(), 'Unknown').otherwise(df2.JobTitle))

In [18]:
df_null_jobtitle.show()

+---+----------+----------+------+---------------+--------------------+---------+----------+----------+--------------------+
| id|first_name| last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|     Job_title_clean|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+--------------------+
|  1|   Melinde| Shilburne|Female|      Nowa Ruda| Assistant Professor|$57438.18| 50.577408| 16.496717| Assistant Professor|
|  2|  Kimberly|Von Welden|Female|         Bulgan|       Programmer II|$62846.60|  48.82316| 103.52182|       Programmer II|
|  3|    Alvera|  Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|             Unknown|
|  4|   Shannon| O'Griffin|  Male|  Divnomorskoye|Budget/Accounting...|$61489.23| 44.504723| 38.130016|Budget/Accounting...|
|  5|  Sherwood|   Macieja|  Male|      Mytishchi|            VP Sales|$63863.09|      NULL| 37.648994|            VP Sales|
|  6|     Maris|      Folk|Female|Kinsealy-Drinan|      Civil Engineer|$30101.16| 53.426613|-6.1644998|      Civil Engineer|
|  7|     Masha|    Divers|Female|         Dachun|                NULL|$25090.87| 24.879416|118.930115|             Unknown|
|  8|   Goddart|     Flear|  Male|      Trélissac|Desktop Support T...|$46116.36| 45.190517| 0.7423124|Desktop Support T...|
|  9|      Roth|O'Cannavan|  Male|         Heitan|VP Product Manage...|$73697.10| 32.027935| 106.65711|VP Product Manage...|
| 10|      Bran|   Trahear|  Male|       Arbeláez|Mechanical System...|$68098.42|  4.272793|-74.416016|Mechanical System...|
| 11|    Kylynn|   Lockart|Female|       El Cardo|Nuclear Power Eng...|$13604.63|     -5.85| -79.88333|Nuclear Power Eng...|
| 12|       Rey|    Meharg|Female|    Wangqingtuo|Systems Administr...|$73423.70|  39.17238| 116.93161|Systems Administr...|
| 13|      Kerr|    Braden|  Male|      Sułkowice|Compensation Analyst|$33432.99|  49.81518| 19.377174|Compensation Analyst|
| 14|    Mickie| Whanstall|  Male|    Springfield|Assistant Media P...|$50838.53|  42.10148|-72.576675|Assistant Media P...|
| 15|    Kaspar|     Pally|  Male|         Chrást|  Analyst Programmer|$40163.03|  49.79233| 13.491532|  Analyst Programmer|
| 16|    Norbie|    Gwyllt|  Male|         Xijiao|              Editor|$32492.73| 43.494576|  5.897802|              Editor|
| 17|    Claude|    Briant|Female|      Mieścisko|Research Assistan...|$51862.48| 52.744167| 17.327864|Research Assistan...|
| 18|     Thain|    Habbon|  Male| Foros do Trapo|     Design Engineer|$42135.67| 38.696247| -8.709834|     Design Engineer|
| 19|  Tiffanie|  Pattison|Female|    Jabungsisir|Senior Financial ...|$91925.08|-7.7232566| 113.46868|Senior Financial ...|
| 20|    Ettore|  Gerriets|  Male|          Pedra| Staff Accountant IV|$73921.33| 40.717205|-8.3625145| Staff Accountant IV|
+---+----------+----------+------+---------------+--------------------+---------+----------+----------+--------------------+
only showing top 20 rows

In [19]:
df_no_duplicates = df2.dropDuplicates(['gender']).show()

+---+----------+---------+------+-------------+--------------------+---------+---------+---------+
| id|first_name|last_name|gender|         City|            JobTitle|   Salary| Latitude|Longitude|
+---+----------+---------+------+-------------+--------------------+---------+---------+---------+
|  1|   Melinde|Shilburne|Female|    Nowa Ruda| Assistant Professor|$57438.18|50.577408|16.496717|
|  4|   Shannon|O'Griffin|  Male|Divnomorskoye|Budget/Accounting...|$61489.23|44.504723|38.130016|
+---+----------+---------+------+-------------+--------------------+---------+---------+---------+

In [20]:
df_no_duplicates = df2.dropDuplicates(['City']).show()

CodeCache: size=131072Kb used=30651Kb max_used=30653Kb free=100420Kb
 bounds [0x000000010b1e8000, 0x000000010d008000, 0x00000001131e8000]
 total_blobs=11121 nmethods=10178 adapters=855
 compilation: disabled (not enough contiguous free space left)
+---+----------+------------+------+---------------+--------------------+---------+----------+----------+
| id|first_name|   last_name|gender|           City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+------------+------+---------------+--------------------+---------+----------+----------+
|  3|    Alvera|    Di Boldi|Female|           NULL|                NULL|$57576.52| 39.994747|116.339775|
|826| Doloritas|     Slessor|Female|         Abéché|       Developer III|$93375.18| 13.835913|  20.84337|
|674|    Colman|       Carpe|  Male|      Ad Dimnah|      Tax Accountant|$70973.35| 13.453592|  44.18389|
|188|      Cleo|       Seden|Female|        Adigeni|     Design Engineer|$58517.11| 41.676476|   42.7086|
| 74|  Julietta|   Andrusyak|Female|Agios Dimitrios|       VP Accounting|$32930.55| 37.935696| 23.729456|
|989|   Fabiano|     Clinton|  Male|          Aguaí|Software Test Eng...|$56279.89| -22.05731| -46.97742|
|432|  Christos|      Runsey|  Male|        Aiquile|     Web Designer IV|$63039.21|-18.207453|  -65.1848|
|618|   Isidoro|      Gussie|  Male|Aix-en-Provence|Administrative As...|$65910.31| 43.491432|  5.370721|
|623|     Emlyn|     Carnegy|  Male|           Aizi| Executive Secretary|$69273.32| 24.622425| 113.99676|
|779|      Cara|  Shelbourne|Female|      Al Badārī|Software Test Eng...|$94889.51| 26.991577|  31.41556|
|217|    Eileen|       Janca|Female|       Al Bīrah|     General Manager|$87905.43|  31.91001|  35.21645|
|378|      Dore|     Drummer|Female|     Al Mukallā| Clinical Specialist|$12468.70| 14.540433| 49.127197|
|313|  Francyne|       Erley|Female|      Al ‘Udayn|Automation Specia...|$38544.57| 14.011959|  43.86732|
|322|      Jory|       Noone|  Male|     Alexandria|  Help Desk Operator|$38887.62| 38.818947|-77.059326|
|885|     Velma| Shackleford|Female|    Ambelókipoi|     Data Coordiator|$16676.56| 37.758293| 20.872854|
|386|     Eward|    Trytsman|  Male|         Amorim|  Research Associate|$60601.43|  41.40517| -8.746371|
|682|   Sharron|     Dominey|Female|       Ampanihy|             Teacher|$95283.97|-24.693048|  44.74518|
|505|   Woodrow|De Beneditti|  Male|        Amphawa| Geological Engineer|$76400.89| 13.425452|  99.95908|
|638|Petronella|Fitzackerley|Female|         Ananea|Payment Adjustmen...|$63400.62| -14.68055| -69.53488|
|605|    Deedee|    Trippick|Female|          Angol|   Director of Sales|$43413.15|-37.806072|-72.703804|
+---+----------+------------+------+---------------+--------------------+---------+----------+----------+
only showing top 20 rows

Java HotSpot(TM) 64-Bit Server VM warning: CodeCache is full. Compiler has been disabled.
Java HotSpot(TM) 64-Bit Server VM warning: Try increasing the code cache size using -XX:ReservedCodeCacheSize=

In [26]:
df_no_duplicates = df2.dropDuplicates()

In [29]:
if df_no_duplicates is None:
    print("df_no_duplicates is None")
else:
    df_no_duplicates.show()

+---+----------+-------------+------+--------------------+--------------------+---------+----------+----------+
| id|first_name|    last_name|gender|                City|            JobTitle|   Salary|  Latitude| Longitude|
+---+----------+-------------+------+--------------------+--------------------+---------+----------+----------+
|372|     Lyman|      Burfitt|  Male|             Guiping|Community Outreac...|$28755.53| 23.394325| 110.07938|
|391|     Verge|     Hefferan|  Male|          Cocachacra|Community Outreac...|$90391.71|-17.091843| -71.77114|
|428|   Pernell|      Fossitt|  Male|           Wangchang|    Graphic Designer|$36927.53| 40.401047|  117.9989|
|526|  Garfield|    Benadette|  Male|              Shiren|   Marketing Manager|$56867.78| 28.651703| 117.90413|
|731|     Legra|        Manns|Female|               Nîmes|  Research Associate|$42246.87| 43.844727| 4.3520436|
|809|       Jed|       Shires|  Male|            Goubétto|     Design Engineer|$64130.79| 11.423197| 43.002483|
|107|    Rhodia|     Glazzard|Female|            Predavac|             Actuary|$42166.97|  45.93808| 16.780666|
|206|    Penrod|      Aukland|  Male|                Maru|    Junior Executive|$88916.91| 11.366184|  6.322607|
|271|    Cyndie|       Docker|Female|        Sanshengyuan|     Legal Assistant|$28926.95| 38.284946| 114.44385|
|519|  Marchall|       Gaskal|  Male|              Buawan|Research Assistan...|$40183.50|  14.64239|120.957565|
|673|  Reinaldo|        Wiles|  Male|         Spas-Zaulok|Human Resources M...|$41604.67| 56.476814| 36.575226|
|255|   Jameson|      Gaiford|  Male|             Dahuang|   Marketing Manager|$27207.16| 40.142128| 94.661964|
|792|   Morgana|          Kew|Female|              Duozhu|        Engineer III|$71416.86| 23.027798| 114.95018|
|294|   Quintus|    Potticary|  Male|São Mamede de Inf...|       Senior Editor|$55111.06|  41.18463| -8.598522|
|422|  Giuditta|Thundercliffe|Female|             Xinying| Geological Engineer|$83766.35| 39.983112| -75.11504|
|859|    Willyt|      Suttaby|Female|           Haykashen|Human Resources A...|$76556.57| 40.072536|  44.30513|
|864|    Bertie|        Bewsy|  Male|         Poncokusumo|Software Test Eng...|$25446.48| -8.051573| 112.83438|
|918|  Merralee|     Brockley|Female|          Karabanovo|  Nurse Practicioner|$45568.92|  56.30725| 38.701054|
|163| Valentino|       Loxley|  Male|               Taifu| Software Consultant|$87708.40|  41.46429| -74.36236|
|297|    Marlie|       Angelo|Female|            Cértegui|  Speech Pathologist|$21951.41|   5.40004| -76.60003|
+---+----------+-------------+------+--------------------+--------------------+---------+----------+----------+
only showing top 20 rows

In [30]:
df_no_duplicates.describe().show()

+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+-----------------+-----------------+
|summary|               id|first_name|last_name|gender|               City|           JobTitle|   Salary|         Latitude|        Longitude|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+-----------------+-----------------+
|  count|             1000|      1000|     1000|  1000|                999|                998|     1000|              999|             1000|
|   mean|            500.5|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL|25.43151724702484|43.33756460386515|
| stddev|288.8194360957496|      NULL|     NULL|  NULL|               NULL|               NULL|     NULL|24.57908255015662|69.42064536746811|
|    min|                1|   Abagail|    Abbay|Female|             Abéché|Account Coordinator|$10101.92|        -54.28115|       -123.04196|
|    max|             1000|    Zulema| de Marco|  Male|‘Aşīrah al Qiblīyah|   Web Developer IV|$99948.28|         69.63186|        175.28227|
+-------+-----------------+----------+---------+------+-------------------+-------------------+---------+-----------------+-----------------+